<div class="fund-header box-fadeIn">
	<h1 class="ws-padleft2">COFFEE FUNDRAISING</h1>
	<p>Raise funds for your organization with responsibly sourced, specialty 3-19 Coffee!</p>
	<a id="request-form-link" href="#form-link"><img src="{{ "request-info-btn.png" | asset_url }}"></a>
</div>
<!--end ws-stbg2-->
<div class="ws-padleft2 box-fadeIn">
	<div class="parallax ws-patternbg-nopadding">
		<div class="ws-text3">
			<h2>Thank you for your interest in 3-19 Coffee's fundraising program!</h2>
			<p>Below you'll find a brief overview of our <strong><i>traditional</i></strong> and
				<strong><i>custom</i></strong> fundraising programs and an explanation of how 3-19 Coffee will help you
				exceed your fundraising goals.</p>
		</div>
	</div>
</div>

<div class="ws-padleft2 box-fadeIn">
	<div class="parallax ws-patternbg-nopadding">
		<div class="fund-three-boxes flex-col justify-center">
			<h2>Raise funds for your organization with responsibly sourced, specialty 3-19 Coffee! Through both programs
				you'll get our...</h2>
			<div class="flex-row align-start justify-even">
				<div class="flex-row align-center">
					<img class="fund-icon" src="{{ "Asset_1.png" | asset_url }}">
					<div class="flex-col">
						<i>Responsibly sourced coffee.</i>
						<p>We pay attention to our entire supply chain. 3-19 Coffee is dedicated to the farmers and
							communities where we source our coffee, while considering economic, social and environmental
							impact.</p>
					</div>
				</div>
				<div class="flex-row align-center">
					<img class="fund-icon" src="{{ "Asset_6_4x.png" | asset_url }}">
					<div class="flex-col">
						<i>Great-tasting Coffee.</i>
						<p>We source single origin coffees, and create our blends with them. We are meticulous roasters and
							our passion is to find unique coffees that our customers love.</p>
					</div>
				</div>
				<div class="flex-row align-center">
					<img class="fund-icon" src="{{ "Asset_3_4x.png" | asset_url }}">
					<div class="flex-col">
						<i>Commitment to Social Good.</i>
						<p>From day one, we set aside a portion of our sales for social good projects supporting communities
							where we source our coffees and communities here at home.</p>
					</div>
				</div>
			</div>
			&nbsp;
			<div class="ws-text3">

				<h2>How does our fundraiser standout?</h2>
				<ul>
					<li>No startup fees</li>
					<li>No minimum orders</li>
					<li>High quality, specialty coffee</li>
					<li>Responsibly sourced coffees</li>
					<li>33% profit = $5 profit for every coffee bag sold</li>
					<li>Each batch of coffee is freshly roasted & delivered within 2 weeks of paid invoice</li>
					<li>Program includes: roaster’s choice medium blend and decaffeinated coffee</li>
					<li>Everything can be stored at room temperature</li>
					<li>Free shipping on orders over 100 coffee bags</li>
					<li>Dedicated fundraising specialist</li>
				</ul>
				&nbsp;
				&nbsp;
				<h2>How do you start?</h2>
				<ul>
					<li>Set fundraising start and end dates (typically 2 weeks)</li>
					<li>Tell us how many order forms to send you and distribute them to participants</li>
					<li>Designate a group leader that will build up excitement and morale</li>
					<li>Set a team and/or individual goal</li>
					<li>Add up total sales on the master order form submit the order form and send in payment</li>
					<li>You keep the profits immediately!</li>
					<li>Award prizes to top sellers (small gifts, apparel, gift cards)</li>
					<li>Receive order within 2 weeks and distribute</li>
					<li>Have fun!</li>
				</ul>
			</div>
			<!--end ws-text3-->
		</div>
	</div>
</div>

<div class="ws-padleft2 box-fadeIn">
	<div class="parallax ws-patternbg-nopadding">
		<div class="ws-text3">
			<h2>Raise funds for your organization with responsibly sourced, specialty 3-19 Coffee!</h2>
			<p>Below you'll find a brief overview of our online fundraising program and an explanation of how 3-19
				Coffee
				will help you exceed your fundraising goals.</p>
			<h2>Through both programs you'll get our...</h2>
			<p><i>Responsibly sourced coffee.</i> We pay attention to our entire supply chain. 3-19 Coffee is dedicated
				to
				the farmers and communities where we source our coffee, while considering economic, social and
				environmental
				impact.</p>
			<p><i>Great-tasting Coffee.</i> We source single origin coffees, and create our blends with them. We are
				meticulous roasters and our passion is to find unique coffees that our customers love.</p>
			<p><i>Commitment to Social Good.</i> From day one, we set aside a portion of our sales for social good
				projects
				supporting communities where we source our coffees and communities here at home.</p>
			<h2>How does our fundraiser standout?</h2>
			<ul>
				<lh>On boarding Phase (4-8 weeks):</lh>
				<ul>You design your own coffee tin! A premium personalized, reusable coffee tins with bamboo lids</ul>
				<ul>Your own fundraiser landing page on 319coffee.com to share via email, marketing, and social media
				</ul>
			</ul>



			<ul>
				<lh>Features:</lh>
				<li>High quality, specialty coffee</li>
				<li>40% profit = $10 profit for every tin sold, purchase for $15 and sell for $25</li>
				<li>Coffee roasted fresh & delivered within 2 weeks of every order</li>
				<li>Program includes: roaster’s choice medium blend and decaffeinated coffee</li>
				<li>Everything can be stored at room temperature</li>
				<li>Shipping costs are paid by consumers, not fundraisers</li>
				<li>Coffee is shipped directly to customers - no sorting and delivery!</li>
				<li>Dedicated fundraising specialist</li>
			</ul>
			&nbsp;
			<h2>How do you start?</h2>
			<ul>
				<li>Send us the details about your organization and fundraising goals.</li>
				<li>Pay the start- up fee of $250 for us to get started on creating your personalized coffee tin and</li>
				<li>landing page. *Potential for reduced or waived fee voucher.</li>
				<li>Set fundraising start and end dates. </li>
				<li>Designate a group leader that will raise awareness and support</li>
				<li>Establish a goal for your organization</li>
				<li>You will get the link to your personalized landing page within 4 weeks of paying the start- up fee
					and
					finalizing artwork and information for your coffee tin.</li>
				<li>Share the link and begin working toward exceeding your fundraising goals without the hassle</li>
				of taking orders and distribution!
				<li>We send you the profits bimonthly via check</li>
			</ul>
			&nbsp;
			<h2>How do the pictures work?</h2>
			<ul>
				<li>Send us a high resolution, squarable photo of your choice</li>
				<li>Inside the tin is a 12 oz/340 g bag of whole bean or ground coffee</li>
				<li>Our team gets right to work on perfecting your photo, provided that you would like us to touch it up
					(not a requirement)</li>
				<li>In just 1 business day, our artists will have your photo ready for you to review, sent via a link to
					your email.</li>
				<li>We don’t finalize the landing page or print unless you approve. Please follow the prompts sent in the
					email to approve your photo.</li>
			</ul>
			<p>
				“Thanks to the 3-19 Coffee team for your incredible efforts in making this such a successful fundraiser!
				Everyone loved the coffee and also thought the overall product was so beautifully and creatively made.
				Thanks for making this such an easy experience overall and for the donations to our cause!” (5 stars) -
				Claire's Crusade
			</p>
		</div>
		<!--end ws-text3-->
	</div>
</div>

<div class="ws-artbg ws-stbg1 box-fadeIn ws-stbg2 our-bg2"
	style="background-image: url({{ page.metafields["global"]["ourstory_image_box_3"] }});">
	<h1 class="ws-padleft2">CREATE YOUR IDEAL COFFEE PROGRAM. WE MAKE IT EASY AND DELICIOUS.</h1>
</div>
	<!--end ws-stbg2-->



<div class="ws-padleft2 box-fadeIn">
	<div class="parallax ws-patternbg-nopadding">
		<div class="ws-text3">
			<h2>Learn about our two programs.</h2>
			<div class="flex-row align-start justify-even">
				<div class="flex-col"><a id="request-traditional" href="#traditional">Traditional</a></div>
				<div class="flex-col"><a id="request-custom" href="#custom">Custom</a></div>
			</div>
		</div>
	</div>
</div>

<div class="ws-padleft2 box-fadeIn">
	<div class="parallax ws-patternbg-nopadding">
		<div class="ws-text3">
			<h2>We deliver great-tasting coffee gourmet coffee to your home!.</h2>
		</div>
	</div>
</div>

			<!--end ws-stbg2-->
<div class="ws-padleft2 box-fadeIn">
	<div class="parallax ws-patternbg-nopadding">
		<div class="ws-text3">
			&nbsp;
			<h2>Traditional</h2>
			&nbsp;
			<h3>Features unique to our traditional program.</h3>
			&nbsp;
			<p>33% profit = $5 profit for every coffee bag sold</p>
			<p>No start up fee or minimum order</p>
			<p>Free shipping on orders over $100</p>
		</div>
	</div>
</div>

<div class="ws-artbg ws-stbg1 box-fadeIn ws-stbg2 our-bg2"
	style="background-image: url({{ page.metafields["global"]["ourstory_image_box_3"] }});">
	<h1 class="ws-padleft2">HOW TO START.</h1>
</div>

<div class="align-center">
	<div class="ws-padleft2 box-fadeIn">
		<div class="parallax ws-patternbg-nopadding">
			<div class="ws-text3">
				<h2>Custom</h2>
				&nbsp;
				<h3>Features unique to our custom program.</h3>
				&nbsp;
				<p>40% Profit</p>
				<p>Your own fundraising page on 3-19.com</p>
				<p>Delivery straight to customer! + Free Shipping </p>
			</div>
		</div>
	</div>

<div class="parallax ws-noisebg3">
	<div class="box-fadeIn row">
		<div class="col-lg-6 col-md-6 col-sm-6 ws-text4">
			<h1>How it works.</h1>
			&nbsp;
			<ul class="fund-how-it-works-list">
				<li> 1. Send details</li>
				<li> 2. Pay fee </li>
				<li> 3. Design your own coffee tin! </li>
				<li> 4. Set start and end dates </li>
				<li> 5. Pick a group leader </li>
				<li> 6. Establish goals </li>
				<li> 7. Receive link to personal landing page </li>
				<li> 8. Share your link </li>
				<li> 9. We send you profits bimonthly via check! </li>
			</ul>
		</div>
	</div>
</div>

<div class="ws-padleft2 box-fadeIn">
	<div class="parallax ws-patternbg-nopadding">
		<div class="ws-text3">
			<!--       <img src="{{ page.metafields["global"]["ourstory_image_box_4"] }}" alt="" /> -->
			<div class="text-left-mobile">
				{{ page.metafields["global"]["ourstory_text_box_4"] }}
			</div>
		</div>
		<!--end ws-text3-->
	</div>
</div>

				<!-- <div class="ws-padleft2 box-fadeIn ws-stbg2">
	<img src="{{ page.metafields["global"]["ourstory_image_box_5"] }}" alt="" />
</div> -->
				<!--end ws-stbg2-->
				<!-- <div class="parallax ws-noisebg3">
	<div class="box-fadeIn row">
		<div class="col-lg-6 col-md-6 col-sm-6 ws-text4">
			<h3>{{ page.metafields["global"]["ourstory_title_box_6"] }}</h3>
			<div class="text-left-mobile">
				{{ page.metafields["global"]["ourstory_text_box_6"] }}
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 ws-handimg">
			<img class="img-responsive" src="{{ page.metafields["global"]["ourstory_image_box_6"] }}" />
		</div>
	</div> -->
				<!--end row-->
				<!-- 	<div class="box-fadeIn ws-stbg3">
		<img src="{{ page.metafields["global"]["ourstory_image_box_7"] }}" alt="" />
		{{ page.metafields["global"]["ourstory_text_box_7"] }}
	</div> -->
				<!--end ws-stbg3-->
				<!-- </div> -->
				<!--end ws-noisebg3-->

<div class="parallax ws-noisebg3">
	<div class="box-fadeIn row">
		<div class="flex-col justify-center">
			<a class="scroll-link" name="form-link"></a>
			<div class="text-left-mobile">
				<a id="form-link"></a>
				<h1>REQUEST MORE INFO</h1>
				<iframe
					src="https://docs.google.com/forms/d/e/1FAIpQLSdXCp4Ludg0HoUypwhUZp_e7lT4L0cDT9RdqEViJ83GZN2KFA/viewform?embedded=true"
					width="640" height="1134" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
			</div>
		</div>
	</div>
</div>

{% include 'box-footer-6' %}

{% include 'make-coffee-art-friends' %}